.loginPage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../static/img/bg.jpeg');
    background-size: 100% 100%;
}
.loginPage .loginbox {
    width: 520px;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    box-shadow: 1px 2px 3px #d9d9d9;
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 999;
    padding: 10px;
}
.loginPage h2 {
    margin-top: 20px;
    color: rgb(52, 98, 223);
}
.loginPage .login-box {
    width: 50%;
    margin: 20px auto 50px auto;
}
.loginPage .login-title {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
}
.login-box .input {
    border: none;
    width: 90%;
    height: 32px;
    outline: none;
    padding: 5px;
}
.loginPage .login-btn {
    margin-top: 30px;
    text-align: center;
}